alembic==1.15.1
APScheduler==3.11.0
cryptography==45.0.3
Flask==3.1.0
Flask-Login==0.6.3
Flask-Migrate==4.1.0
Flask-Session==0.8.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
google-api-core==2.24.2
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
gunicorn==21.2.0
html2text==2025.4.15
httplib2==0.22.0
httpx==0.28.1
IMAPClient==3.0.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
oauthlib==3.2.2
openai==1.82.0
psycopg2-binary==2.9.7
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2025.1
redis==5.2.1
requests==2.32.3
requests-oauthlib==2.0.0
SQLAlchemy==2.0.39
stripe==12.1.0
Werkzeug==3.1.3
