.heroimg{
    width: 300px;
}
.hero{
    display: flex;
    gap: 20px;
}
.smarter,.turn,.cardheader,.carddescription{
    color: white;
}
.trylink{
    padding: 20px;
    color: white;
    background-color: #ff6000;
    border: none;
    border-radius: 20px;
    box-shadow: 3px 3px black;
    text-decoration: none;
}
.herocontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.wrapper{
    padding: 20px;
    height: 100%;
    background-color: #171524;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cardimg{
    width: 50px;
}
.cards{
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.specialcard{
    grid-column: 1/3;
    grid-row: 2/4;
}
.slight{
    grid-row: 1/3;
    grid-column: 3/4;
}
.card{
    display: flex;
    flex-direction: column;
}
.card,.specialcard{
    background-color: #514b7a;
    border-radius: 20px;
    box-shadow: 3px 3px darkorange;
    padding: 20px;
}
.imgcontainer{
    display: flex;
    justify-content: center;
    height: 40%;
}
