body{
    height: 100vh;
    overflow-y: hidden;
}
.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 50px;
    background-color: #171524;
    padding: 20px;
}
.loginheader{
    font-size: 24px;
    color: white;
}
.loginlink{
    padding: 20px;
    color: white;
    background-color: #ff6000;
    border: none;
    border-radius: 50px;
    box-shadow: 3px 3px black;
    text-decoration: none;
}
@media (max-width: 600px){
    .loginlink{
        padding: 10px;
        width: 100%
    }
    .login{
        font-size: 18px;
    }
}