.unsubs,.unsubwrapper{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.unsub{
    padding: 20px;
    color: white;
    background-color: #ff6000;
    border: none;
    border-radius: 50px;
    box-shadow: 3px 3px black;
}
.sender{
    font-size: 20px;
    font-weight: normal;
}
.unsubheader{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.header{
    font-weight: normal;
}
.analyze{
    font-size: 16px;
    padding: 20px;
    border-radius: 50px;
    border: 3px solid black;
    box-shadow: 3px 3px black;
    background-color: orange;
    
}
.overflow{
    overflow-x: auto;
    padding-right: 50px;
    padding-left: 10px;
}
@media (max-width: 800px) {
    .sender{
        font-size: 14px;
    }
    .unsub{
        padding: 10px;
    }
}
