<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
    <link rel="stylesheet" href="../static/universal.css">
    <link rel="stylesheet" href="../static/emails.css">
</head>
<body>
    <div class="calendar">
        <button class="calendarbutton">Add to Calendar</button>
        <form action="/add_to_calendar" method="post" class="calendarform" style="display: none;">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name">
            <label for="start">Start:</label>
            <input type="datetime-local" id="start" name="start">
            <label for="end">End:</label>
            <input type="datetime-local" name="end" id="end">
            <button type="submit">Submit</button>
        </form>
    </div>
    <script src="../static/calendar.js"></script>
</body>
</html>