<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code</title>
    <link rel="stylesheet" href="../static/universal.css">
    <link rel="stylesheet" href="../static/code.css">
    <link rel="icon" type="image/x-icon" href="../static/imgs/MailMindTempLogo.ico">
</head>
<body>
    {% if current_user.subscribed %}
        <div class="navbar">
            <a href="{{url_for('index')}}">Home</a>
            <a href="{{url_for('emails')}}">Inbox</a>
            <a href="{{url_for('summary')}}">To-Do List</a>
            <a href="{{url_for('all_unsubs')}}">Mailing Lists</a>
            <a href="{{url_for('email_cleaner')}}">Inbox Cleaner</a>
            <a href="{{url_for('manage_subscription')}}">Manage Subscription</a>
        </div>
    {% else %}
        <div class="navbar">
            <a href="{{url_for('index')}}">Home</a>
            <a href="{{url_for('subscribe')}}">Subscribe</a>
            <a href="{{url_for('login')}}">Log In</a>
        </div>
    {% endif %}
    <div class="main-content">
        <div class="container">
            {% if message %}
                <h1 class="message">{{message}}</h1>
            {% endif %}
            <form action="/code" method="post">
                <h1>Enter code below</h1>
                <input type="text" name="code">
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    <footer>
        <a href="{{url_for('terms_and_privacy')}}">Terms of Use and Privacy Policy</a>
    </footer>
</body>
</html>