<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/universal.css">
    <link rel="stylesheet" href="../static/login.css">
    <link rel="icon" type="image/x-icon" href="../static/imgs/MailMindTempLogo.ico">
    <title>Log In</title>
</head>
<body>
    {% if current_user.subscribed %}
        <div class="navbar">
            <a href="{{url_for('index')}}">Home</a>
            <a href="{{url_for('emails')}}">Inbox</a>
            <a href="{{url_for('summary')}}">To-Do List</a>
            <a href="{{url_for('all_unsubs')}}">Mailing Lists</a>
            <a href="{{url_for('email_cleaner')}}">Inbox Cleaner</a>
            <a href="{{url_for('manage_subscription')}}">Manage Subscription</a>
        </div>
    {% else %}
        <div class="navbar">
            <a href="{{url_for('index')}}">Home</a>
            <a href="{{url_for('subscribe')}}">Subscribe</a>
            <a href="{{url_for('login')}}">Log In</a>
        </div>
    {% endif %}
    <div class="main-content">
        <div class="container">
            <h3 class="if">We are currently in the verification process with Google. At this current moment,
                if you click log in with Google, you'll get a warning and to bypass it, simply click advanced and proceed
                to MailMind. 
            </h3>
            {% if current_user.subscribed %}
                <h1 class="login"><a class="loginlink" href="{{url_for('google_login')}}">Log In With Google</a></h1>
                <h1 class="login"><a class="loginlink" href="{{url_for('microsoft_login')}}">Log In With Microsoft</a></h1>
            {% else %}
                <h1 class="login"><a class="loginlink" href="{{url_for('google_login')}}">Sign In With Google</a></h1>
                <h1 class="login"><a class="loginlink" href="{{url_for('microsoft_login')}}">Sign In With Microsoft</a></h1>
                <h3 class="if">You must log in to access the rest of the site (including the subscribe page). 
                    Choose the email you'd like to use for the site (multi-inbox support soon!) </h3> 
            {% endif %}
        </div>
    </div>
    <footer>
        <a href="{{url_for('terms_and_privacy')}}">Terms of Use and Privacy Policy</a>
    </footer>
</body>
</html>