<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/universal.css">
    <title>Document</title>
</head>
<body>
    <div class="product">
        <div class="description">
            <h3>One Month of MailMind</h3>
            <h5>$25.00 / month</h5>
        </div>
    </div>
    <form action="/create-checkout-session" method="POST">
        <!-- Add a hidden field with the lookup_key of your Price -->
        <input type="hidden" name="lookup_key" value="One_Month_of_MailMind-ae39e51" />
        <button id="checkout-and-portal-button" type="submit">Checkout</button>
    </form>
</body>
</html>