<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/universal.css">
    <link rel="stylesheet" href="../static/summary.css">
    <title>Document</title>
</head>
<body>
    {% if current_user.subscribed %}
        <div class="navbar">
            <a href="{{url_for('index')}}">Home</a>
            <a href="{{url_for('emails')}}">Inbox</a>
            <a href="{{url_for('summary')}}">To-Do List</a>
            <a href="{{url_for('all_unsubs')}}">Mailing Lists</a>
            <a href="{{url_for('email_cleaner')}}">Inbox Cleaner</a>
            <a href="{{url_for('manage_subscription')}}">Manage Subscription</a>
        </div>
    {% else %}
        <div class="navbar">
            <a href="{{url_for('index')}}">Home</a>
            <a href="{{url_for('subscribe')}}">Subscribe</a>
            <a href="{{url_for('login')}}">Log In</a>
        </div>
    {% endif %}
    <div class="wrapper">
        {% if text %}
            <h2 class="summaryheader summarytext">All generated action items of the last 24 hours of emails ({{text}}):</h2>
        {% else %}
            <h2 class="summaryheader summarytext">All generated action items of the last 24 hours of emails:</h2>
        {% endif %}
        <div class="items">
            {% for email in emails %}
                <div class="itemwrap">
                    <p class="item">• {{email.action_items | remove_asterisks | safe}}</p>
                    <button class="expand" data-id="{{ loop.index0 }}">Expand</button>
                </div>
                <div class="email" style="display:none" data-id="{{ loop.index0 }}">
                    <div class="emailone emailsub">
                        <h2 class="header">From: </h2>
                        {% if email.from %}
                            <p class="large etext">{{email.from}}</p>
                        {% endif %}
                    </div>
                    <div class="emailone emailsub">
                        <h2 class="header">Subject: </h2>
                        {% if email.subject %}
                            <p class="large etext">{{email.subject | linkify_text | safe}}</p>
                        {% endif %}
                    </div>
                    <div class="emailsub">
                        <h2 class="header">Body</h2>
                        {% if email.body %}
                            <p class="etext">{{email.body | linkify_text | safe}}</p>
                        {% endif %}
                    </div>
                    <div class="buttons">
                        <button class="action reply">
                            Reply
                        </button>
                        <button class="action mark" data-sender="{{email.from}}" add="true">
                            {% if email.from in current_user.high_priority %}
                                Unmark Sender as High Priority
                            {% else %}
                                Mark Sender as High Priority
                            {% endif %}
                        </button>
                    </div>
                    <div id="replydiv" class="replywrap replydiv">
                        <h1 class="replyheader">Reply</h1>
                        <form id="replyform" class="emailform">
                            <label for="cc" class="replylabel">CC: (please enter as list of emails seperated by commas)</label>
                            <input type="text" id="cc" name="cc" class="cc replyin">
                            <label for="bcc" class="replylabel">BCC: (please enter as list of emails seperated by commas)</label>
                            <input type="text" id="bcc" name="bcc" class="bcc replyin">    
                            <label for="body" class="replylabel">Body:</label> 
                            <input type="text" id="body" name="body" class="body replyin">          
                            <button type="submit" class="action replysubmit" id="replysubmit"
                            data-from="{{email.from}}" data-subject="{{email.subject}}">Submit</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
    </div>
    <script src="../static/summary.js"></script>
</body>
</html>